* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

input {
    padding: 0 10px;
}

.center {
    width: 100%;
    height: 92vh;
    display: flex;
    justify-content: center;
    align-items: center
}

.center .container {
    width: 458px;
}

.container .wrapper {
    padding: 0px 47px 38px 35px;
    border: 1px solid #628AAD;
}

.wrapper .label-row:not(:first-child) {
    margin-top: 10px;
}

.label-row {
    display: flex;
}

.label-row.name {
    padding-top: 20px;
}

.gender-option {
    display: flex;
    align-items: center;
    margin-right: 20px;
}

.gender-option label {
    margin-left: 10px;
}

input[type="radio"] {
    cursor: pointer;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    display: inline-block;
    width: 15px;
    height: 15px;
    padding: 1px;
    background-clip: content-box;
    border: 2px solid #477AA9;
    background-color: #e7e6e7;
    border-radius: 50%;
}

input[type="radio"]:checked {
    background-color: #70AD47;
}

.label-row button {
    padding: 8px 0;
    min-width: 86px;
    outline: none;
    background-color: #70AD47;
    border: 1px solid #477AA9;
    color: white;
    margin-right: 10px;
}

.compulsory::after {
    content: " *";
    color: red;
}

.label-row input {
    outline: none;
    border: 1px solid #477AA9;
    flex: 1;
}

.label-row.name input {
    flex: 1;
}

.select-box {
    display: flex;
    position: relative;
    flex: 1;
}

.select-box input {
    flex: 1;
}

.arrow-down {
    position: relative;
    cursor: pointer;
}

.arrow-down::after {
    content: "";
    position: absolute;
    right: 0;
    width: 0;
    height: 0;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-top: 40px solid #477AA9;
}

.arrow-down::before {
    content: "";
    position: absolute;
    z-index: 2;
    right: 2px;
    width: 0;
    height: 0;
    border-left: 18px solid transparent;
    border-right: 18px solid transparent;
    border-top: 38px solid #70AD47;
}

.hide {
    display: none;
}

.dropdown {
    z-index: 50;
    position: absolute;
    left: -1px;
    width: calc(100% + 2px);
    top: calc(100% + 5px);
    list-style: none;
    background-color: white;
    border: 1px solid #477AA9;
    outline: none;
}

.dropdown li:not(:last-child) {
    border-bottom: 1px solid #477AA9;
}

.dropdown li {
    cursor: pointer;
    padding: 5px 10px;
    min-height: 30px;
}

.dropdown li:hover {
    background-color: #70AD47;
    color: #fff;
}

.relative {
    flex: 1;
}

.register {
    margin-top: 25px;
    display: flex;
    justify-content: center;
}

.register button {
    border: 1px solid #477AA9;
    border-radius: 10px;
    background-color: #70AD47;
    padding: 10px 35px;
    color: white;
}

.form-control:focus {
    color: black;
    background-color: #fff;
    border-color: #477AA9;
    outline: none;
    box-shadow: none;
}

.form-control {
    border-radius: unset;
    color: black;
}

.input-group-text {
    cursor: pointer;
    border-color: #477AA9;
    border-radius: unset;
}